

.socialMedia   {
display: flex;
gap: 3em;
justify-content: center;
margin-top: 5%;
}
.socialMedia  svg {
  height: 2em;
  width: 3em;
}


.trademark {
  border-top: #6c64647d 2px solid;
}
.trademark p {
  font-size: 1.4em;
  font-weight: bold;
}
a:hover{
  cursor: pointer;
  
}

